@font-face {
    font-family: 'Cascadia Mono';
    font-style: normal;
    font-display: swap;
    font-weight: 400;
    src: url('font/CascadiaMono.woff2') format('woff2');
}

#console_log_box {
    font-family: 'Cascadia Mono', monospace;
    scrollbar-color: #8e8e8e #303030;
}

#console_log_box ::-webkit-scrollbar {
    display: block;
    width: 0.5em;
}


/* #console_log_box ::-webkit-scrollbar-track {
    background: #8e8e8e;
    border-radius: 1.0em;
} */

#console_log_box ::-webkit-scrollbar-track-piece {
    background: #303030;
    border-radius: 1.0em;
}

#console_log_box ::-webkit-scrollbar-thumb,
#console_log_box ::-webkit-scrollbar-track {
    background: #8e8e8e;
    border-radius: 1.0em;
}

#console_log_box ::-webkit-scrollbar-thumb:hover,
#console_log_box ::-webkit-scrollbar-track:hover {
    background: #b6b6b6;
}

#console_log_box ::-webkit-resizer,
#console_log_box ::-webkit-scrollbar-corner {
    display: none;
}